.cart-items {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #c2e7db;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin-top: 5%;
}

.cart-items h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-items button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

.cart-items button:hover {
  background-color: #0056b3;
}

.cart-items p {
  font-size: 18px;
}

.cart-items ul {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-item span {
  flex: 1;
}

.cart-item .price {
  font-weight: bold;
}

.cart-item button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-item button:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .cart-items {
    max-width: 100%;
    padding: 10px;
  }

  .cart-items h2 {
    font-size: 20px;
  }

  .cart-items ul {
    padding: 0;
  }

  .cart-item {
    flex-direction: column;
    padding: 10px;
  }

  .cart-item span {
    text-align: center;
    margin-bottom: 5px;
  }

  .cart-item .price {
    font-weight: bold;
  }
}
