/* Default styles for larger screens */
.category-list {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 150px;
}

.category-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #0056b3;
}

.category-button.active {
  background-color: #ff6000;
  color: #fff;
}

.category-name {
  text-align: center;
  background-color: #eeecd7;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cart {
  background-color: #ff6000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cart .cart-length {
  color: #007bff;
  font-weight: bold;
}
.cart:hover {
  background-color: #e05000;
}

/* Mobile styles for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .category-list {
    display: block;
    text-align: center;
    margin: 20px auto;
    margin-left: 5%;
    width: 90%;
  }

  .category-button {
    padding: 8px 5px;
    font-size: 10px;
    margin: 2px;
  }

  .category-name {
    width: 200px;
    margin-left: 20%;
    font-size: 10px;
  }

  .cart-link {
    margin-left: 15%;
    font-size: 12px;
  }
}
