.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: start;
  max-width: 100%;
  margin: 0 auto;
}

.product h3 {
  font-size: 14px;
  margin: 10px 0;
}

.product p {
  font-size: 15px;
  color: #777;
  margin: 5px 0;
}

/* .product button:hover {
  background-color: #e05000;
} */

header {
  display: flex;
  justify-content: space-between;
}

header button {
  background-color: #ff6000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product {
  background-color: rgb(255, 255, 255);
  width: 75%;
  max-width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 15px;
  box-shadow: -5px -5px 18px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 184, 121, 0.3);
}
.product-image-container {
  position: relative;
}
.product img {
  width: 40%;
  margin-right: 20px;
}

.product img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.cart-buttons {
  background-color: #ff6000;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-buttons:hover {
  background-color: #00e0a8;
}
.favorite-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.favorite-buttons:hover {
  transform: scale(1.2);
  color: #ff0000;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .product-list {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  .product img {
    width: 50%;
  }
}
