/* ProductDetail.css */
.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 20px;
  width: 25%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.product-detail h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.product-detail img {
  max-width: 50%;
  height: auto;
  margin-top: 20px;
}
.price {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.product-detail p {
  font-size: 16px;
  margin: 10px 0;
  color: #777;
}

.product-detail a {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.product-detail a:hover {
  background-color: #0056b3;
}
