.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 20px;
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.product-detail h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.product-detail img {
  max-width: 50%;
  height: auto;
  margin-top: 20px;
}
.price {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.product-detail p {
  font-size: 16px;
  margin: 10px 0;
  color: #777;
}

.product-detail a {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.product-detail a:hover {
  background-color: #0056b3;
}
.product-detail button {
  background-color: #ff6000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-detail button:hover {
  background-color: #00e0a0;
}

.rate-view {
  display: flex;
}
.rate-view p {
  margin-right: 35px;
  color: #000000;
  font-weight: 500;
  justify-content: space-between;
}


@media (max-width: 768px) {
  .product-detail {
    width: 80%;
    padding: 5%;
    height: fit-content;
  }

  .product-detail h2 {
    font-size: 15px;
    text-align: center;
  }

  .product-detail p {
    font-size: 12px;
  }

  .product-detail img {
    max-width: 80%;
    margin-top: 10px;
  }
  .product-detail button {
    padding: 6px 15px;
  }
}
