.app {
  background-color: aliceblue;
}

body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

/* App.css */
.products-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 4rem;
  margin-right: 20px;
  margin-left: 30px;
  font-weight: 900;
  max-width: 100%;
}
h1 {
  padding-top: 2%;
}

.favorites-link {
  text-decoration: none;
  background-color: #66ff00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  max-width: 100%;
}
.cart-link {
  text-decoration: none;
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  max-width: 100%;
}

.cart-link:hover {
  background-color: #6fd6a6;
}

.cart-link {

  margin-left: 60%;

}

@media (max-width: 768px) {
  .cart-link {
    margin-left: 5%;
    font-size: 12px;
  }
  .App {
    padding: 10px;
  }
  .products-link {
    font-size: 28px;
    margin-left: 20%;
  }
}
